<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!-- Настройка хоста, то есть, где он будет работать, на каких портах, какие протоколы будет использовать,
	какой ip будет использовать. Так же пересылку метаданных от хоста к клиенту, дабы в клиенте 
	не нужно было бы прописывать все конфиги и прочее. Клиент автоматически тянет данные с хоста -->
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors> 
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Chat.ServiceChat" behaviorConfiguration="mexBeh">
				<endpoint address="" binding="netTcpBinding" contract="Chat.IServiceChat" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8301" />
						<add baseAddress="net.tcp://localhost:8302" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	
</configuration>